.b_wlcmName {
    color: rgb(231, 231, 11) !important;
    font-family: sans-serif !important;
    font-style: italic !important;
   
}
*{
    background-color: rgb(30, 99, 108) !important;
    border-radius: 50px !important;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 48px;
    box-sizing: border-box;
    padding-block: 13px 11px;
    padding-inline: 48px;
    z-index: 1;
    pointer-events: auto;
    background: var(--cib-color-fill-neutral-solid-primary);
    border-radius: var(--cib-border-radius-extra-large);
    outline: #e40707 solid 1px !important;
    cursor: text;
    transition-property: min-height, height, width, transform, border-radius, border-color, box-shadow;
    transition-duration: var(--cib-motion-duration-fast);
    transition-timing-function: var(--cib-motion-easing-in);
    font-size: var(--cib-type-body2-font-size);
    line-height: var(--cib-type-body2-line-height);
    font-weight: var(--cib-type-body2-font-weight);
    font-variation-settings: var(--cib-type-body2-font-variation-settings);
    background-color: aqua !important;
    color: chocolate !important;
}
.text-input .text-area {
    position: relative;
    overflow: hidden;
    white-space: pre-wrap;
    color: #15d754 !important;
    /* background-color: yellow !important; */
    font-size: var(--cib-type-body2-font-size);
    line-height: var(--cib-type-body2-line-height);
    font-weight: var(--cib-type-body2-font-weight);
    font-variation-settings: var(--cib-type-body2-font-variation-settings);
}
:root {
    --cib-color-foreground-accent-primary: #A2B7F4;
    --cib-color-foreground-accent-secondary: #A2B7F4;
    --cib-color-foreground-accent-tertiary: #D1DBFA;
    --cib-color-foreground-accent-quaternary: #96A8FF;
    --cib-color-foreground-accent-disabled: rgba(162,183,244,0.3);
    --cib-color-foreground-on-accent-primary: #FFFFFF;
    --cib-color-foreground-on-accent-secondary: #EFF3FF;
    --cib-color-foreground-on-accent-tertiary: #EFF3FF;
    --cib-color-foreground-on-accent-selected: #FFFFFF;
    --cib-color-foreground-on-accent-disabled: rgba(239,243,255,0.3);
    --cib-color-foreground-accent-balanced-primary: #A2B7F4;
    --cib-color-foreground-accent-creative-primary: #D7A7BB;
    --cib-color-foreground-accent-precise-primary: #A7E0EB;
    --cib-color-foreground-accent-balanced-secondary: #A2B7F4;
    --cib-color-foreground-accent-creative-secondary: #D7A7BB;
    --cib-color-foreground-accent-precise-secondary: #A7E0EB;
    --cib-color-foreground-neutral-secondary: #A8A8A8;
    --cib-color-foreground-neutral-tertiary: #919191;
    --cib-color-foreground-neutral-quaternary: #D6D6D6;
    --cib-color-foreground-neutral-disabled: rgba(210,208,206,0.4);
    --cib-color-foreground-on-accent-strong-primary: #111111;
    --cib-color-foreground-on-accent-strong-secondary: #111111;
    --cib-color-foreground-on-accent-strong-disabled: rgba(17,17,17,0.3);
    --cib-color-foreground-system-attention-primary: #3AA0F3;
    --cib-color-foreground-system-attribution-primary: #9EC3AE;
    --cib-color-foreground-system-caution-primary: #FCE100;
    --cib-color-foreground-system-critical-primary: #FF99A4;
    --cib-color-foreground-system-link-primary: #82C7FF;
    --cib-color-foreground-system-neutral-primary: rgba(0,0,0,0.55);
    --cib-color-foreground-system-neutral-strong: rgba(0,0,0,0.8);
    --cib-color-foreground-system-success-primary: #6CCB5F;
    --cib-color-foreground-system-error-primary: #B10E1C;
    --cib-color-fill-accent-primary: #3B3A39;
    --cib-color-fill-accent-secondary: #484644;
    --cib-color-fill-accent-tertiary: #605E5C;
    --cib-color-fill-accent-quaternary: #27265C;
    --cib-color-fill-accent-disabled: rgba(255,255,255,0.03);
    --cib-color-fill-accent-alt-primary: #050F2E;
    --cib-color-fill-accent-alt-secondary: rgba(255,255,255,0.06);
    --cib-color-fill-accent-alt-tertiary: rgba(255,255,255,0.1);
    --cib-color-fill-accent-alt-quaternary: #1D1D1D;
    --cib-color-fill-accent-alt-senary: #343C53;
    --cib-color-fill-accent-alt-disabled: rgba(5,15,46,0.3);
    --cib-color-fill-accent-gradient-primary: linear-gradient(130deg, #2870EA 20%, #1B4AEF 77.5%);
    --cib-color-fill-accent-gradient-secondary: linear-gradient(130deg, #2870EA 20%, #1B4AEF 77.5%),linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    --cib-color-fill-accent-gradient-tertiary: linear-gradient(130deg, #2870EA 20%, #1B4AEF 77.5%),linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    --cib-color-fill-accent-gradient-quaternary: linear-gradient(90deg, rgb(239, 242, 247) 0%, 7.60286%, rgb(237, 240, 249) 15.2057%, 20.7513%, rgb(235, 239, 248) 26.297%, 27.6386%, rgb(235, 239, 248) 28.9803%, 38.2826%, rgb(231, 237, 249) 47.585%, 48.1216%, rgb(230, 236, 250) 48.6583%, 53.1306%, rgb(228, 236, 249) 57.6029%, 61.5385%, rgb(227, 234, 250) 65.4741%, 68.7835%, rgb(222, 234, 250) 72.093%, 75.7603%, rgb(219, 230, 248) 79.4275%, 82.8265%, rgb(216, 229, 248) 86.2254%, 87.8354%, rgb(213, 228, 249) 89.4454%, 91.8605%, rgb(210, 226, 249) 94.2755%, 95.4383%, rgb(209, 225, 248) 96.6011%, 98.3005%, rgb(208, 224, 247) 100%);
    --cib-color-fill-accent-strong-primary: #A2B7F4;
    --cib-color-fill-accent-strong-secondary: #A2B7F4;
    --cib-color-fill-accent-strong-tertiary: #D1DBFA;
    --cib-color-fill-accent-strong-disabled: rgba(162,183,244,0.3);
    --cib-color-fill-accent-speech-primary: #2C7AEB;
    --cib-color-fill-accent-speech-secondary: #3398EB;
    --cib-color-fill-accent-speech-tertiary: #1ABEEC;
    --cib-color-fill-accent-alt-balanced-primary: #050F2E;
    --cib-color-fill-accent-alt-creative-primary: #270022;
    --cib-color-fill-accent-alt-precise-primary: #00151A;
    --cib-color-fill-accent-balanced-primary: rgba(255,255,255,0.1);
    --cib-color-fill-accent-creative-primary: rgba(255,255,255,0.1);
    --cib-color-fill-accent-precise-primary: rgba(255,255,255,0.1);
    --cib-color-fill-accent-balanced-secondary: rgba(255,255,255,0.2);
    --cib-color-fill-accent-creative-secondary: rgba(255,255,255,0.2);
    --cib-color-fill-accent-precise-secondary: rgba(255,255,255,0.2);
    --cib-color-fill-accent-gradient-balanced-quaternary: linear-gradient(90deg, rgb(239, 242, 247) 0%, 7.60286%, rgb(237, 240, 249) 15.2057%, 20.7513%, rgb(235, 239, 248) 26.297%, 27.6386%, rgb(235, 239, 248) 28.9803%, 38.2826%, rgb(231, 237, 249) 47.585%, 48.1216%, rgb(230, 236, 250) 48.6583%, 53.1306%, rgb(228, 236, 249) 57.6029%, 61.5385%, rgb(227, 234, 250) 65.4741%, 68.7835%, rgb(222, 234, 250) 72.093%, 75.7603%, rgb(219, 230, 248) 79.4275%, 82.8265%, rgb(216, 229, 248) 86.2254%, 87.8354%, rgb(213, 228, 249) 89.4454%, 91.8605%, rgb(210, 226, 249) 94.2755%, 95.4383%, rgb(209, 225, 248) 96.6011%, 98.3005%, rgb(208, 224, 247) 100%);
    --cib-color-fill-accent-gradient-creative-quaternary: linear-gradient(90deg, rgb(238, 237, 243) 0%, 0.77381%, rgb(239, 238, 244) 1.54762%, 6.72619%, rgb(239, 236, 243) 11.9048%, 12.381%, rgb(240, 237, 244) 12.8571%, 27.9167%, rgb(242, 236, 244) 42.9762%, 51.9048%, rgb(239, 236, 243) 60.8333%, 61.9643%, rgb(238, 235, 246) 63.0952%, 66.7262%, rgb(235, 234, 249) 70.3571%, 73.2738%, rgb(232, 232, 248) 76.1905%, 77.1429%, rgb(230, 231, 248) 78.0952%, 79.9405%, rgb(228, 229, 249) 81.7857%, 84.1667%, rgb(227, 228, 248) 86.5476%, 87.0238%, rgb(226, 227, 248) 87.5%, 89.3452%, rgb(224, 224, 252) 91.1905%, 95.5952%, rgb(220, 223, 252) 100%);
    --cib-color-fill-accent-gradient-precise-quaternary: linear-gradient(90deg, rgb(236, 242, 245) 0%, 1.3089%, rgb(234, 243, 245) 2.6178%, 17.4084%, rgb(232, 241, 242) 32.199%, 36.2565%, rgb(229, 241, 242) 40.3141%, 45.0262%, rgb(227, 240, 242) 49.7382%, 51.8325%, rgb(226, 239, 245) 53.9267%, 57.199%, rgb(224, 239, 245) 60.4712%, 62.9581%, rgb(220, 237, 245) 65.445%, 66.2304%, rgb(220, 237, 245) 67.0157%, 68.0628%, rgb(218, 236, 244) 69.1099%, 75.1309%, rgb(214, 233, 240) 81.1518%, 82.5916%, rgb(211, 231, 240) 84.0314%, 84.4241%, rgb(212, 231, 239) 84.8168%, 86.911%, rgb(210, 230, 239) 89.0052%, 94.5026%, rgb(207, 227, 236) 100%);
    --cib-color-fill-neutral-primary: #3B3A39;
    --cib-color-fill-neutral-secondary: #484644;
    --cib-color-fill-neutral-tertiary: #605E5C;
    --cib-color-fill-neutral-quaternary: #ECECEC;
    --cib-color-fill-neutral-quinary: #141414;
    --cib-color-fill-neutral-disabled: rgba(59,58,57,0.3);
    --cib-color-fill-neutral-input-active: transparent;
    --cib-color-fill-neutral-transparent: transparent;
    --cib-color-fill-neutral-flow-current: #54B054;
    --cib-color-fill-neutral-alt-primary: transparent;
    --cib-color-fill-neutral-alt-secondary: rgba(0,0,0,0.1);
    --cib-color-fill-neutral-alt-tertiary: rgba(255,255,255,0.04);
    --cib-color-fill-neutral-alt-quaternary: rgba(255,255,255,0.07);
    --cib-color-fill-neutral-alt-disabled: transparent;
    --cib-color-fill-neutral-alt-transparent: transparent;
    --cib-color-fill-neutral-strong-primary: #FFFFFF;
    --cib-color-fill-neutral-strong-secondary: #F5F5F5;
    --cib-color-fill-neutral-strong-tertriary: #ECECEC;
    --cib-color-fill-neutral-strong-disabled: rgba(255,255,255,0.3);
    --cib-color-fill-neutral-solid-primary: #3B3A39;
    --cib-color-fill-neutral-solid-secondary: #1D1D1D;
    --cib-color-fill-neutral-solid-tertiary: #0A0A0A;
    --cib-color-fill-neutral-solid-quaternary: #AAAAAA;
    --cib-color-fill-neutral-solid-quinary: #2B2B2B;
    --cib-color-fill-subtle-primary: transparent;
    --cib-color-fill-subtle-secondary: rgba(255,255,255,0.06);
    --cib-color-fill-subtle-tertiary: rgba(255,255,255,0.1);
    --cib-color-fill-subtle-quaternary: rgba(255,255,255,0.2);
    --cib-color-fill-subtle-quinary: #222222;
    --cib-color-fill-subtle-senary: #ADADAD;
    --cib-color-fill-subtle-disabled: transparent;
    --cib-color-fill-subtle-transparent: transparent;
    --cib-color-fill-subtle-alt-primary: rgba(0,0,0,0.4);
    --cib-color-fill-subtle-alt-secondary: rgba(0,0,0,0.5);
    --cib-color-fill-subtle-alt-tertiary: rgba(0,0,0,0.9);
    --cib-color-fill-accent-gradient-balanced-primary: linear-gradient(130deg, #2870EA 20%, #1B4AEF 77.5%);
    --cib-color-fill-accent-gradient-balanced-secondary: linear-gradient(130deg, #2870EA 20%, #1B4AEF 77.5%),linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    --cib-color-fill-accent-gradient-balanced-tertiary: linear-gradient(130deg, #2870EA 20%, #1B4AEF 77.5%),linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    --cib-color-fill-accent-gradient-creative-primary: linear-gradient(130deg, #914887 20%, #8B257E 77.5%);
    --cib-color-fill-accent-gradient-creative-secondary: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(130deg, #914887 20%, #8B257E 77.5%);
    --cib-color-fill-accent-gradient-creative-tertiary: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(130deg, #914887 20%, #8B257E 77.5%);
    --cib-color-fill-accent-gradient-precise-primary: linear-gradient(130deg, #006880 20%, #005366 77.5%);
    --cib-color-fill-accent-gradient-precise-secondary: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(130deg, #006880 20%, #005366 77.5%);
    --cib-color-fill-accent-gradient-precise-tertiary: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(130deg, #006880 20%, #005366 77.5%);
    --cib-color-fill-accent-gradient-customized-primary: #A4690A;
    --cib-color-background-surface-app-primary: #11100F;
    --cib-color-background-surface-app-secondary: #242424;
    --cib-color-background-surface-app-tertiary: #3B3A39;
    --cib-color-background-surface-app-quaternary: #292827;
    --cib-color-background-surface-card-primary: rgba(255,255,255,0.08);
    --cib-color-background-surface-card-secondary: rgba(255,255,255,0.05);
    --cib-color-background-surface-card-tertiary: rgba(255,255,255,0.08);
    --cib-color-background-surface-card-disabled: rgba(255,255,255,0.03);
    --cib-color-background-surface-smoke-primary: rgba(0,0,0,0.5);
    --cib-color-background-surface-solid-base: #1B1A19;
    --cib-color-background-surface-solid-primary: #141414;
    --cib-color-background-surface-solid-secondary: #1C1C1C;
    --cib-color-background-surface-solid-tertiary: #252423;
    --cib-color-background-surface-solid-quaternary: #2C2C2C;
    --cib-color-background-serp-primary: #292827;
    --cib-color-background-serp-neutral: #1B1A19;
    --cib-color-background-system-attention-primary: rgba(255,255,255,0.5);
    --cib-color-background-system-attention-strong: #106EBE;
    --cib-color-background-system-success-primary: #DFF6DD;
    --cib-color-background-system-success-strong: #0F7B0F;
    --cib-color-background-system-caution-primary: #FFF4CE;
    --cib-color-background-system-caution-strong: #9D5D00;
    --cib-color-background-system-critical-primary: #FDE7E9;
    --cib-color-background-system-critical-strong: #C42B1C;
    --cib-color-stroke-accent-primary: #A2B7F4;
    --cib-color-stroke-accent-secondary: #A2B7F4;
    --cib-color-stroke-accent-tertiary: #D1DBFA;
    --cib-color-stroke-accent-quaternary: #525252;
    --cib-color-stroke-accent-disabled: rgba(162,183,244,0.3);
    --cib-color-stroke-accent-balanced-primary: #A2B7F4;
    --cib-color-stroke-accent-creative-primary: #D7A7BB;
    --cib-color-stroke-accent-precise-primary: #A7E0EB;
    --cib-color-stroke-accent-balanced-secondary: #A2B7F4;
    --cib-color-stroke-accent-creative-secondary: #D7A7BB;
    --cib-color-stroke-accent-precise-secondary: #A7E0EB;
    --cib-color-stroke-neutral-primary: rgba(255,255,255,0.1);
    --cib-color-stroke-neutral-secondary: rgba(255,255,255,0.2);
    --cib-color-stroke-neutral-tertiary: rgba(255,255,255,0.1);
    --cib-color-stroke-neutral-quarternary: #666666;
    --cib-color-fill-neutral-flow-complete: #000000;
    --cib-color-stroke-neutral-alt-primary: rgba(255,255,255,0.2);
    --cib-color-stroke-surface-card-primary: transparent;
    --cib-color-stroke-surface-card-solid: transparent;
    --cib-color-stroke-surface-divider-primary: rgba(255,255,255,0.2);
    --cib-color-stroke-focus-outer: #FAF9F8;
    --cib-color-stroke-focus-inner: #FAF9F8;
    --cib-color-stroke-serp-primary: rgba(255,255,255,0.2);
    --cib-color-stroke-system-attention-primary: #106EBE;
    --cib-color-stroke-system-success-primary: #0F7B0F;
    --cib-color-stroke-system-caution-primary: #9D5D00;
    --cib-color-stroke-system-critical-primary: #C42B1C;
    --cib-color-stroke-system-neutral-primary: rgba(0,0,0,0.45);
    --cib-color-stroke-control-textbox-stroke-rest: #666666;
    --cib-color-syntax-background-surface: rgba(0,0,0,0.2);
    --cib-color-syntax-background-green: #F0FFF4;
    --cib-color-syntax-background-red: #FFEEF0;
    --cib-color-syntax-blue: #6CB6FF;
    --cib-color-syntax-blue-strong: #96D0FF;
    --cib-color-syntax-gold: #EAC55F;
    --cib-color-syntax-gray: #768390;
    --cib-color-syntax-gray-strong: #ADBAC7;
    --cib-color-syntax-green: #8DDB8C;
    --cib-color-syntax-orange: #F69D50;
    --cib-color-syntax-purple: #DCBDFB;
    --cib-color-syntax-red: #F47067;
    --cib-color-syntax-red-strong: #FFD8D3;
    --cib-comp-action-bar-search-border-radius: 24px;
    --cib-comp-conversation-max-width: 1120px;
    --cib-comp-copy-host-border-radius: 8px;
    --cib-comp-copy-button-border-radius: 6px;
    --cib-comp-feedback-host-border-radius: 8px;
    --cib-comp-feedback-menu-border-radius: 8px;
    --cib-comp-feedback-menu-before-border-radius: 9px;
    --cib-comp-feedback-button-border-radius: 6px;
    --cib-comp-flyout-host-border-radius: 6px;
    --cib-comp-message-citation-border-radius: 3px;
    --cib-no-bing-result-texture: url("data:image/svg+xml, %3Csvg%20width%3D%2280%22%20height%3D%2290%22%20viewBox%3D%220%200%2080%2090%22%20fill%3D%22%23FFFFFF%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6.40095%207.53232L3.43433%204.5657C3.12191%204.25328%203.12191%203.74675%203.43433%203.43433C3.74675%203.12191%204.25328%203.12191%204.5657%203.43433L28.5657%2027.4343C28.8781%2027.7467%2028.8781%2028.2533%2028.5657%2028.5657C28.2533%2028.8781%2027.7467%2028.8781%2027.4343%2028.5657L24.4677%2025.5991C22.2112%2027.5912%2019.2467%2028.8%2016%2028.8C8.93077%2028.8%203.20001%2023.0693%203.20001%2016C3.20001%2012.7533%204.40883%209.78887%206.40095%207.53232ZM23.3338%2024.4652L7.53484%208.66621C5.83106%2010.6311%204.80001%2013.1952%204.80001%2016C4.80001%2022.1856%209.81442%2027.2%2016%2027.2C18.8049%2027.2%2021.3689%2026.169%2023.3338%2024.4652ZM27.2%2016C27.2%2018.2242%2026.5517%2020.2969%2025.4337%2022.0396L26.5884%2023.1943C27.9842%2021.144%2028.8%2018.6673%2028.8%2016C28.8%208.93077%2023.0693%203.20001%2016%203.20001C13.3327%203.20001%2010.856%204.01585%208.80574%205.4116L9.96046%206.56631C11.7031%205.44834%2013.7758%204.80001%2016%204.80001C22.1856%204.80001%2027.2%209.81442%2027.2%2016Z%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M52.0006%2010.7077L50.1464%208.85355C49.9512%208.65829%2049.9512%208.34171%2050.1464%208.14645C50.3417%207.95118%2050.6583%207.95118%2050.8536%208.14645L65.8536%2023.1464C66.0488%2023.3417%2066.0488%2023.6583%2065.8536%2023.8536C65.6583%2024.0488%2065.3417%2024.0488%2065.1464%2023.8536L63.2923%2021.9994C61.882%2023.2445%2060.0292%2024%2058%2024C53.5817%2024%2050%2020.4183%2050%2016C50%2013.9708%2050.7555%2012.118%2052.0006%2010.7077ZM62.5836%2021.2907L52.7093%2011.4164C51.6444%2012.6444%2051%2014.247%2051%2016C51%2019.866%2054.134%2023%2058%2023C59.753%2023%2061.3556%2022.3556%2062.5836%2021.2907ZM65%2016C65%2017.3901%2064.5948%2018.6856%2063.8961%2019.7747L64.6178%2020.4964C65.4901%2019.215%2066%2017.6671%2066%2016C66%2011.5817%2062.4183%208%2058%208C56.3329%208%2054.785%208.5099%2053.5036%209.38224L54.2253%2010.1039C55.3144%209.4052%2056.6099%209%2058%209C61.866%209%2065%2012.134%2065%2016Z%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M16.0006%2054.7077L14.1464%2052.8536C13.9512%2052.6583%2013.9512%2052.3417%2014.1464%2052.1464C14.3417%2051.9512%2014.6583%2051.9512%2014.8536%2052.1464L29.8536%2067.1464C30.0488%2067.3417%2030.0488%2067.6583%2029.8536%2067.8536C29.6583%2068.0488%2029.3417%2068.0488%2029.1464%2067.8536L27.2923%2065.9994C25.882%2067.2445%2024.0292%2068%2022%2068C17.5817%2068%2014%2064.4183%2014%2060C14%2057.9708%2014.7555%2056.118%2016.0006%2054.7077ZM26.5836%2065.2907L16.7093%2055.4164C15.6444%2056.6444%2015%2058.247%2015%2060C15%2063.866%2018.134%2067%2022%2067C23.753%2067%2025.3556%2066.3556%2026.5836%2065.2907ZM29%2060C29%2061.3901%2028.5948%2062.6856%2027.8961%2063.7747L28.6178%2064.4964C29.4901%2063.215%2030%2061.6671%2030%2060C30%2055.5817%2026.4183%2052%2022%2052C20.3329%2052%2018.785%2052.5099%2017.5036%2053.3822L18.2253%2054.1039C19.3144%2053.4052%2020.6099%2053%2022%2053C25.866%2053%2029%2056.134%2029%2060Z%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M54.4009%2051.5323L51.4343%2048.5657C51.1219%2048.2533%2051.1219%2047.7467%2051.4343%2047.4343C51.7467%2047.1219%2052.2533%2047.1219%2052.5657%2047.4343L76.5657%2071.4343C76.8781%2071.7467%2076.8781%2072.2533%2076.5657%2072.5657C76.2533%2072.8781%2075.7467%2072.8781%2075.4343%2072.5657L72.4677%2069.5991C70.2112%2071.5912%2067.2467%2072.8%2064%2072.8C56.9308%2072.8%2051.2%2067.0693%2051.2%2060C51.2%2056.7533%2052.4088%2053.7889%2054.4009%2051.5323ZM71.3338%2068.4652L55.5348%2052.6662C53.8311%2054.6311%2052.8%2057.1952%2052.8%2060C52.8%2066.1856%2057.8144%2071.2%2064%2071.2C66.8049%2071.2%2069.3689%2070.169%2071.3338%2068.4652ZM75.2%2060C75.2%2062.2242%2074.5517%2064.2969%2073.4337%2066.0396L74.5884%2067.1943C75.9842%2065.144%2076.8%2062.6673%2076.8%2060C76.8%2052.9308%2071.0693%2047.2%2064%2047.2C61.3327%2047.2%2058.856%2048.0158%2056.8057%2049.4116L57.9605%2050.5663C59.7031%2049.4483%2061.7758%2048.8%2064%2048.8C70.1856%2048.8%2075.2%2053.8144%2075.2%2060Z%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%20%20%3C%2Fsvg%3E");
    --cib-comp-modal-before-border-radius: 13px;
    --cib-comp-side-panel-aad-msa-redirect-border-radius: 9px;
    --cib-comp-thread-host-border-radius: 6px;
    --cib-comp-thread-host-border-radius-goldilocks: 5px;
    --cib-comp-thread-host-preview-border-radius: 8px;
    --cib-comp-thread-name-border-radius: 3px;
    --cib-comp-tooltip-host-before-border-radius: 5px;
    --cib-comp-welcome-container-preview-button-border-radius: 3px;
    --cib-comp-muid-consent-border-radius: 8px;
    --cib-comp-muid-consent-overlay-border-radius: 6px;
    --cib-comp-muid-consent-overlay-windows-border-radius: 7px;
    --cib-comp-personas-actionBarBackground: linear-gradient(180deg, rgba(41,40,39,0.9), rgba(41,40,39,1)0%);
    --cib-comp-personas-cardBackground: url(https://www.bing.com/th?id=OEP.62C8F14A015D8BB0CAA54557370C080D&pid=BEmail);
    --cib-comp-personas-background-inline: radial-gradient(circle, rgba(187, 5, 166, 0.2) 0%, rgba(245, 245, 245, 0) 70%);
    --cib-comp-personas-titleElevation: 0px 10px 16px 0px rgba(0, 0, 0, 0.2);
    --cib-color-beta-suggested-background: rgba(37, 122, 221, 0.12);
    --cib-color-beta-background: linear-gradient(180deg, rgba(41, 40, 39, 0.3) 0%, rgba(2, 7, 55, 0.3) 100%), radial-gradient(40% 20% at 20% 30%, rgba(77, 176, 247, 0.24) 0%, rgba(4, 28, 68, 0) 100%),linear-gradient(180deg, #002E6C 0%, #071633 98.84%), linear-gradient(0deg, rgba(4, 14, 45, 0.3), rgba(4, 14, 45, 0.3)),  linear-gradient(180deg, #B3CCED 0%, rgba(225, 239, 255, 0.8) 98.84%);
    --cib-color-beta-bubble-background: radial-gradient(70% 70% at right 20%, rgba(77, 176, 247, 0.6) 0%, rgba(34, 34, 42, 0) 100%), rgba(13, 14, 16, 0.7);
    --cib-color-beta-background-shadow: radial-gradient(30% 30% at 90% 50%, rgba(77, 176, 247, 0.2) 0%, rgba(34, 34, 42, 0) 100%);
    --cib-color-beta-bottom-background: linear-gradient(rgba(41, 40, 39, 0.2) 0%, rgba(2, 7, 55, 0.2) 100%), rgb(41, 40, 39);
    --cib-color-beta-action-bar-background: linear-gradient(360deg, rgba(41, 40, 39, 0.2) 0%, rgba(2, 7, 55, 0.2) 100%), rgb(41, 40, 39);
    --cib-color-beta-navigation-bar-background: #292827;
    --cib-color-beta-navigation-item-selection: rgba(162, 183, 244, 0.20);
    --cib-color-beta-large-upsell-background: rgba(255, 255, 255, 0.10);
    --cib-color-beta-auxiliary-chip-background: #050F2E;
    --cib-color-beta-underside: #D6D6D6;
    --cib-color-chroma-composer-background: #252423;
    --cib-color-chroma-composer-border: rgba(255, 255, 255, 0.20);
    --cib-color-chroma-composer-border-active: rgba(255, 255, 255, 0.20);
    --cib-color-chroma-composer-submit: #174AE4;
    --cib-color-chroma-composer-zero-input: #1C1111;
    --cib-color-chroma-conversation-fade: rgba(17, 16, 15, 0.8);
    --cib-color-chroma-dynamic-gradient: linear-gradient(245deg, #4F1EAB 6.5%, #9C2A53 50%, #A56C2A 89.5%);
    --cib-color-chroma-message-bubble: #1C1F2A;
    --cib-color-chroma-side-panel-subtle-hover: rgba(124, 110, 152, 0.08);
    --cib-color-chroma-side-panel-subtle-active: rgba(124, 110, 152, 0.08);
    --cib-color-chroma-side-panel-top: #121212;
    --cib-color-chroma-side-panel-bottom: #121212;
    --cib-shadow-chroma-composer: 0px 155px 43px 0px rgba(0, 0, 0, 0.01), 0px 99px 40px 0px rgba(0, 0, 0, 0.03), 0px 56px 33px 0px rgba(0, 0, 0, 0.06), 0px 25px 25px 0px rgba(0, 0, 0, 0.09), 0px 6px 14px 0px rgba(0, 0, 0, 0.12);
    --cib-shadow-chroma-composer-active: 0px 155px 43px 0px rgba(0, 0, 0, 0.00), 0px 99px 40px 0px rgba(0, 0, 0, 0.03), 0px 56px 33px 0px rgba(0, 0, 0, 0.10), 0px 25px 25px 0px rgba(0, 0, 0, 0.17), 0px 6px 14px 0px rgba(0, 0, 0, 0.19);
    --cib-shadow-chroma-composer-zero-input: 2px 21px 12px 0px rgba(165, 50, 85, 0.02), 2px 13px 10px 0px rgba(165, 50, 85, 0.03), 2px 7px 8px 0px rgba(165, 50, 85, 0.02), 0px 3px 8px 0px rgba(165, 50, 85, 0.06);
    --cib-shadow-chroma-flyout: 0px 10px 12px 0px rgba(0, 16, 66, 0.02), 0px 6px 10px 0px rgba(0, 16, 66, 0.04), 0px 4px 8px 0px rgba(0, 16, 66, 0.05), 0px 2px 8px 0px rgba(0, 16, 66, 0.08);
    --cib-color-icon-red-cancel: #FF99A4;
    --cib-color-icon-green-confirm: #6CCB5F;
    --cib-color-icon-add-thin: #D7A7BB;
    --cib-image-background: url("https://www.bing.com/cdx/bg-dark.jpg");
    --cib-shadow-card: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
    --cib-shadow-card-raised: 0px 4px 8px rgba(0, 0, 0, 0.28), 0px 0px 2px rgba(0, 0, 0, 0.24);
    --cib-shadow-dialog: 0px 32px 64px rgba(0, 0, 0, 0.48), 0px 0px 8px rgba(0, 0, 0, 0.4);
    --cib-shadow-flyout: 0px 8px 16px rgba(0, 0, 0, 0.28), 0px 0px 2px rgba(0, 0, 0, 0.24);
    --cib-shadow-layer: 0px 1px 2px rgba(0, 0, 0, 0.28), 0px 0px 2px rgba(0, 0, 0, 0.24);
    --cib-shadow-panel: 0px 14px 28px rgba(0, 0, 0, 0.48), 0px 0px 8px rgba(0, 0, 0, 0.4);
    --cib-shadow-tooltip: 0px 8px 16px rgba(0, 0, 0, 0.28), 0px 0px 2px rgba(0, 0, 0, 0.24);
    --cib-shadow-serp: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    --cib-shadow-serp-neutral: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
    --cib-shadow-elevation-1: 0px 0.5px 1px rgba(0, 0, 0, 0.28), 0px 0px 1px rgba(0, 0, 0, 0.24);
    --cib-shadow-elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.28), 0px 0px 2px rgba(0, 0, 0, 0.24);
    --cib-shadow-elevation-4: 0px 2px 4px rgba(0, 0, 0, 0.28), 0px 0px 2px rgba(0, 0, 0, 0.24);
    --cib-shadow-elevation-8: 0px 4px 8px rgba(0, 0, 0, 0.28), 0px 0px 2px rgba(0, 0, 0, 0.24);
    --cib-shadow-elevation-16: 0px 8px 16px rgba(0, 0, 0, 0.28), 0px 0px 2px rgba(0, 0, 0, 0.24);
    --cib-shadow-elevation-28: 0px 14px 28px rgba(0, 0, 0, 0.48), 0px 0px 8px rgba(0, 0, 0, 0.4);
    --cib-shadow-elevation-64: 0px 32px 64px rgba(0, 0, 0, 0.48), 0px 0px 8px rgba(0, 0, 0, 0.4);
    --cib-border-radius-none: 0;
    --cib-border-radius-small: 2px;
    --cib-border-radius-medium: 4px;
    --cib-border-radius-large: 8px;
    --cib-border-radius-extra-large: 12px;
    --cib-border-radius-xx-large: 22px;
    --cib-border-radius-circular: 10000px;
    --cib-font-text: -apple-system, Roboto, SegoeUI, 'Segoe UI', 'Helvetica Neue', Helvetica, 'Microsoft YaHei', 'Meiryo UI', Meiryo, Arial Unicode MS, sans-serif;
    --cib-font-icons: 'Fluent Icons';
    --cib-type-caption2-font-size: 10px;
    --cib-type-caption2-line-height: 14px;
    --cib-type-caption2-font-weight: 400;
    --cib-type-caption2-font-variation-settings: unset;
    --cib-type-caption2-strong-font-size: 10px;
    --cib-type-caption2-strong-line-height: 14px;
    --cib-type-caption2-strong-font-weight: 600;
    --cib-type-caption2-strong-font-variation-settings: unset;
    --cib-type-caption1-font-size: 12px;
    --cib-type-caption1-line-height: 16px;
    --cib-type-caption1-font-weight: 400;
    --cib-type-caption1-font-variation-settings: unset;
    --cib-type-caption1-strong-font-size: 12px;
    --cib-type-caption1-strong-line-height: 16px;
    --cib-type-caption1-strong-font-weight: 600;
    --cib-type-caption1-strong-font-variation-settings: unset;
    --cib-type-caption1-stronger-font-size: 12px;
    --cib-type-caption1-stronger-line-height: 16px;
    --cib-type-caption1-stronger-font-weight: 700;
    --cib-type-caption1-stronger-font-variation-settings: unset;
    --cib-type-body1-font-size: 14px;
    --cib-type-body1-line-height: 20px;
    --cib-type-body1-font-weight: 400;
    --cib-type-body1-font-variation-settings: unset;
    --cib-type-body1-strong-font-size: 14px;
    --cib-type-body1-strong-line-height: 20px;
    --cib-type-body1-strong-font-weight: 500;
    --cib-type-body1-strong-font-variation-settings: unset;
    --cib-type-body1-stronger-font-size: 14px;
    --cib-type-body1-stronger-line-height: 20px;
    --cib-type-body1-stronger-font-weight: 600;
    --cib-type-body1-stronger-font-variation-settings: unset;
    --cib-type-body2-font-size: 16px;
    --cib-type-body2-line-height: 24px;
    --cib-type-body2-font-weight: 400;
    --cib-type-body2-font-variation-settings: unset;
    --cib-type-body2-stronger-font-size: 16px;
    --cib-type-body2-stronger-line-height: 22px;
    --cib-type-body2-stronger-font-weight: 700;
    --cib-type-body2-stronger-font-variation-settings: unset;
    --cib-type-subtitle2-font-size: 16px;
    --cib-type-subtitle2-line-height: 24px;
    --cib-type-subtitle2-font-weight: 500;
    --cib-type-subtitle2-font-variation-settings: unset;
    --cib-type-subtitle2-stronger-font-size: 16px;
    --cib-type-subtitle2-stronger-line-height: 24px;
    --cib-type-subtitle2-stronger-font-weight: 600;
    --cib-type-subtitle2-stronger-font-variation-settings: unset;
    --cib-type-subtitle1-font-size: 20px;
    --cib-type-subtitle1-line-height: 26px;
    --cib-type-subtitle1-font-weight: 500;
    --cib-type-subtitle1-font-variation-settings: unset;
    --cib-type-subtitle1-stronger-font-size: 20px;
    --cib-type-subtitle1-stronger-line-height: 26px;
    --cib-type-subtitle1-stronger-font-weight: 600;
    --cib-type-subtitle1-stronger-font-variation-settings: unset;
    --cib-type-message-font-size: 18px;
    --cib-type-message-line-height: 24px;
    --cib-type-message-font-weight: 400;
    --cib-type-message-font-variation-settings: unset;
    --cib-type-message-strong-font-size: 18px;
    --cib-type-message-strong-line-height: 24px;
    --cib-type-message-strong-font-weight: 600;
    --cib-type-message-strong-font-variation-settings: unset;
    --cib-type-title3-font-size: 24px;
    --cib-type-title3-line-height: 32px;
    --cib-type-title3-font-weight: 600;
    --cib-type-title3-font-variation-settings: unset;
    --cib-type-title2-font-size: 28px;
    --cib-type-title2-line-height: 36px;
    --cib-type-title2-font-weight: 600;
    --cib-type-title2-font-variation-settings: unset;
    --cib-type-title1-font-size: 32px;
    --cib-type-title1-line-height: 40px;
    --cib-type-title1-font-weight: 600;
    --cib-type-title1-font-variation-settings: unset;
    --cib-type-large-title-font-size: 40px;
    --cib-type-large-title-line-height: 52px;
    --cib-type-large-title-font-weight: 600;
    --cib-type-large-title-font-variation-settings: unset;
    --cib-type-display-font-size: 68px;
    --cib-type-display-line-height: 92px;
    --cib-type-display-font-weight: 600;
    --cib-type-display-font-variation-settings: unset;
    --cib-motion-duration-faster: 83ms;
    --cib-motion-duration-fast: 187ms;
    --cib-motion-duration-normal: 333ms;
    --cib-motion-duration-slow: 500ms;
    --cib-motion-duration-slower: 667ms;
    --cib-motion-duration-slowest: 1000ms;
    --cib-motion-easing-linear: cubic-bezier(0, 0, 1, 1);
    --cib-motion-easing-in: cubic-bezier(0, 0, 0, 1);
    --cib-motion-easing-out: cubic-bezier(1, 0, 1, 1);
    --cib-motion-easing-strong: cubic-bezier(0.13, 1.62, 0, 0.92);
    --cib-motion-easing-direct: cubic-bezier(0.55, 0, 0, 1);
    --cib-motion-easing-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
    --cib-motion-easing-transition: cubic-bezier(0.75, 0, 0.25, 1);
    --cib-color-foreground-neutral-primary: #ff8000 !important; 
    background-color: #0F7B0F !important;
}
.b_dark .b_scopebar .b_active a, .b_dark .b_scopebar .b_active a:visited, .b_dark .b_scopebar .b_active a:hover {
    color: #effb1b !important;
    font-style: italic !important;
}
.b_dark .b_scopebar, .b_dark .b_scopebar a, .b_dark .b_scopebar a:visited, .b_dark .id_button, .b_dark .id_button:visited {
    color: #fff300 !important;
    font-style: italic !important;
}
.b_dark a, .b_dark #b_tween a:visited, .b_dark #b_results .b_no a {
    color: #ff9d00 !important;
}